<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        <hr>
{{# if isAdmin }} 
        <h2>All Orders</h2>
        {{# each orders }}
            <h4>{{ this.user.email }}</h4>
            <div class="panel panel-default">
                <div class="panel-body"> 
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                <span class="badge">{{ this.price }} zł</span>
                                {{ this.item.title }} | {{ this.qty }} Units
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: {{ this.cart.totalPrice }} zł</strong>
                </div>
            </div>
        {{/each}}
        <hr>
        <h2>All Users</h2>
        <div class="panel panel-default">
            {{# each users }}
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5>{{ this.email }}</h5>
                    </li>
                </ul>
            {{/each}}
        </div>
{{else}}
        <h2>My Orders</h2>
        {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body"> 
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                <span class="badge">{{ this.price }} zł</span>
                                {{ this.item.title }} | {{ this.qty }} Units
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: {{ this.cart.totalPrice }} zł</strong>
                </div>
            </div>
        {{/each}}
{{/if}}
    </div>
</div>
